<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>Ganhadores</title>
	<!-- CSS -->
	<style>
		.container {max-width: 960px;}
		.lh-condensed { line-height: 1.25; }
		body{
			padding-top: 3.5rem;
			background-image: url(https://i.imgur.com/BfPGZkW.png);
			background-size: cover;
		}
	</style>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="py-5 text-center">
			<h1>Vencedores</h1>
		</div>
		<div class="col-md-12 order-md-2">
			<div class="row">
				<div class="col-md-8 mb-3">
					<p>Laureado: <span th:text="${vencedor.laureado}"></span></p>
					<p>Ano: <span th:text="${vencedor.ano}"></span></p>
					<p>Prêmio: <span th:text="${vencedor.premio}"></span></p>
					<p>País: <span th:text="${vencedor.pais}"></span></p>
					<p>Descrição: <span th:text="${vencedor.descricao}"></span></p>
					
					<a class="btn btn-primary  btn-lg btn-block" href="/listar" role="button">Voltar</a>
					
					<!-- <button type="button" class="btn btn-primary btn-lg btn-block" th:href="@{/novo}">Voltar</button>  -->
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>