<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>Ganhadores</title>
	<!-- CSS -->
	<style>
		.container {max-width: 300px;}
		.lh-condensed { line-height: 1.2; }
		body{
			padding-top: 3 rem;
			background-image: url(https://i.imgur.com/BfPGZkW.png);
			background-size: cover;
		}
	</style>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="py-5 text-center">
			<h1>Ganhadores do Nobel</h1>
		</div>
		<div class="col-md-12 order-md-2">
			
			<form class="needs-validation" novalidate th:object="${vencedor}" th:action="@{/cadastrar}" method="post">
				<div class="row">
				<div class="col-md-4 offset-md-4">
					
					<a class="btn btn-info btn-lg btn-block" href="/novo" role="button">Formulário</a>
					<a class="btn btn-warning btn-lg btn-block" href="/listar" role="button">Listagem</a>
					
				</div>
				</div>
			</form>
		</div>
	</div>
		
</body>
</html>